/* You can add global styles to this file, and also import other style files */
body{
    background-color: #323643;
    color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px;
}