<div class="column">
    <app-menu class="leftSticky"></app-menu>
    <div class="title">Find groups</div>
    <form>
        <input type="text" class="search" [formControl]="searchGroupName" (input)="searchGroup()" placeholder="Search..."/>
    </form>
    <form [formGroup]="createGroupForm" (submit)="createGroup()" class="newGroupForm">
        <label for="Username">Create new group: </label>
        <input id="Username" type="text" formControlName="name" placeholder="Group name" class="inputUsernameForm"/>
        <div *ngIf='errorMsg != ""' class="errorText"> {{errorMsg}} </div>
        <img src="./plus.png" type="submit" class="submitButton" value="Create new user" (click)="createGroup()"/>
    </form>
    Owned:
    <div class="groups">
        <app-group-item *ngFor="let group of filteredmyGroupsList" [group]="group" [routerLink]="['groupDetail/', group.id]" skipLocationChange class="GroupItem"/>
    </div>
    Member:
    <div class="groups">
        <app-group-item *ngFor="let group of filteredList" [group]="group" [routerLink]="['groupDetail/', group.id]" skipLocationChange class="GroupItem"/>
    </div>
</div>