<div class="myApps">
    <div class="title">My applications</div>
    <app-menu class="leftSticky"></app-menu>
    <div>Outbound application</div>
    <div class="appContainer">
        <div *ngFor="let app of outboundApps" class="app" [routerLink]="['/myApps', app.id]" skipLocationChange> {{nameMap.get(app.groupid)}} </div>
    </div>
    
    <div>Inbound application</div>
    <div class="appContainer">
       <div *ngFor="let app of inboundApps" class="app" [routerLink]="['/myApps', app.id]" skipLocationChange> {{nameMap.get(app.groupid)}} </div> 
    </div>
</div>