.main{
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-left: 40%;
    font-family: Arial, Helvetica, sans-serif;
}
