.landingPage{
   display: flex;
   flex-direction: row;
   height: 100%;
   width: 100%; 
}

.landingButtons{
    display: flex;
    flex-direction: row;  
}

.landingPageButton{
    background-color: #606470;
    color: white;
    margin: 5px;
    width: 15vw;
    height: 10vh;
    border: none;
}

.leftSticky{
    position: absolute;
    left: 0px;
    top: 0px;
}