.groupDetails{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
}

.leftSticky{
    position: absolute;
    left: 0px;
    top: 0px;
}

.Title{
    font-size: 24px;
}
.upperHalf{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}
.Players{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 20vh;
    padding-left: 2vw;
}
.Description{
    text-wrap: wrap;
    color: white;
    white-space: normal;
    width: 60vw;
    max-width: 60vw;
    height: 40vh;
    background-color:#606470;
    border-radius: 10px;
    padding: 10px;
}
.ButtonHolder{
    display: flex;
    flex-direction: column;
    color: black;
    padding: 10px;
    width: 60%;
    height: 10vh;
    background-color: #D9D9D9;
    border-radius: 10px;
}
.YesButtonNonClickable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: large;
    background-color: greenyellow;
    color: black;
    width: 60%;
    height: 70%;  
}
.YesButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: large;
    background-color: greenyellow;
    color: black;
    width: 60%;
    height: 70%;  
}
.YesButton:hover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: large;
    background-color: green;
    color: black;
    width: 60%;
    height: 70%;  
}
.ApplyButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: large;
    background-color: greenyellow;
    color: black;
    width: 60%;
    height: 5vh;  
}
.ApplyButton:hover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: large;
    background-color: green;
    color: black;
    width: 60%;
    height: 5vh;   
}
.LeaveButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: large;
    background-color: red;
    color: black;
    width: 60%;
    height: 5vh;  
}
.LeaveButton:hover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: large;
    background-color: rgb(128, 5, 5);
    color: black;
    width: 60%;
    height: 5vh;   
}
.DeleteButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: large;
    background-color: red;
    color: black;
    width: 60%;
    height: 5vh;  
}
.DeleteButton:hover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: large;
    background-color: rgb(128, 5, 5);
    color: black;
    width: 60%;
    height: 5vh;   
}
.tag{
    color: white;
    background-color: #606470;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 10px;
    margin-right: 5px;
    margin-left: 10px;
}
.NoButtonNonClickable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: large;
    background-color: red;
    color: black;
    width: 60%;
    height: 70%;
}
.NoButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: large;
    background-color: red;
    color: black;
    width: 60%;
    height: 70%;
}
.NoButton:hover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: large;
    background-color: rgb(128, 5, 5);
    color: black;
    width: 60%;
    height: 70%;
}
.PlayerHolder{
    display: flex;
    flex-direction: column;
}
.Player{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10vw;
    height: 4vh;
    color: black;
    background-color: #D9D9D9;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}
.imageHolder{
    display: flex;
    flex-direction: column;
}
.icon{
    max-width: 50%;
    max-height: 100%;
}
.Tags{
    display: flex;
    flex-direction: row;
}