
<div class="groupDetails">
    <app-menu class="leftSticky"></app-menu>
    <div class="Title">{{this.groupDetail?.name}}</div>
    <div class="upperHalf">
        <div class="Players">
            Players:
            <div class="ButtonHolder">
                Is group open?
                <div *ngIf="" class="YesButton"></div>
                <div class="NoButton"></div>
            </div>
        </div>
        <div class="Description">{{this.groupDetail?.description}}</div>
    </div>
    <div class="lowerHalf"></div>
</div>