
<div class="groupDetails">
    <app-menu class="leftSticky"></app-menu>
    <div class="Title">{{this.groupDetail?.name}}</div>
    <div class="upperHalf">
        <div class="Players">
            Players:
            <div class="PlayerHolder">
                <div *ngFor="let player of playerList" class="Player">{{player.nickname}}</div>
            </div>
            <div class="ButtonHolder">
                Is group open?
                <div *ngIf="this.groupDetail?.isopen" class="YesButtonNonClickable">Yes!</div>
                <div *ngIf="!this.groupDetail?.isopen" class="NoButtonNonClickable">No!</div>
            </div>
        </div>
        <div class="Description">{{this.groupDetail?.description}}</div>
    </div>
    <div class="lowerHalf"></div>
</div>