.login{
    height: 40vh;
    width: 20vw;
    background-color: #606470;
    position: relative;
    align-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}
.tit{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: large;
}
.loginButtonContainer{
    width: 100%;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}

.loginButtonItem{
    margin: 7px;
}
.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}
.tit{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: large;
}
.loginButtonContainer{
    width: 100%;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}

.loginButtonItem{
    margin: 7px;
}
.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.inputUsernameForm{
    border: none;
    width: 100%;
    height: 2vh;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.submitButton{
    background-color: #D9D9D9;
    max-width: fit-content;
    border: none;
    height: 3vh;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.submitButton:hover{
    background-color: #afafaf;
    max-width: fit-content;
    border: none;
    height: 3vh;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.submitButton:active{
    background-color: #444444;
    max-width: fit-content;
    border: none;
    height: 3vh;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.errorText{
    color: red;
}