<div class="login">
    <section class="tit">
        Log in        
    </section>
    <div class="loginButtonContainer">
        <app-login-button *ngFor="let loginButton of loginButtonList" [loginButton]="loginButton" [routerLink]="['/landingPage']" skipLocationChange (click)="loginButtonClick(loginButton)" class="loginButtonItem"></app-login-button> 
    </div>
    <div>
        <form [formGroup]="createUserForm" (submit)="createUser()" class="loginForm">
            <label for="Username">Create new user:</label>
            <input id="Username" type="text" formControlName="username" placeholder="Username"/>
            <input type="submit"/>
        </form>
    </div>
</div>
